body{
    background-color: rgb(255, 240, 211);
}
aside{
    background-color: rgb(255, 141, 171);
    padding: 1rem;
    outline:auto;
    outline-color: rgb(160, 42, 79);
}

.with-sidebar{
    display:flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.sidebar{
    flex-basis: 10rem;
    flex-grow: 0.2;
    color: black;
}
.sidebar:hover{
    transform: scale(102%);
    transition: all 0.2s ease-in-out;
}

.img:hover{
    transform: scale(105%);
    transition: all 0.2s ease-in-out;
}



.not-sidebar{
    flex-basis: 0;
    flex-grow: 999;
}
.wrapper{
    max-width: 56rem;
    margin-right:auto;
    margin-left: auto;
}
header{
    background-color: rgb(255, 141, 171);
     h1{
        color: black;
        padding: 1rem;

    }
    outline: auto;
    outline-color: rgb(160, 42, 79);
}

.img{
    border-radius: 20px;

}
.centerd-image{
    display: grid;
    place-content: center;
    padding-top: 2rem;
    
}
h2{
    font-weight: 400;
}
p{
    font-weight: bold;
}
.containter{
    width:100%
    
}

.skillbar-container{
    width: 20rem;
    height: 1.8rem;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    margin: 0.2rem;
}

.skillbar{
    width: var(--percentage);
    height: 100%;
    background-color: rgb(255, 211, 223);
    line-height: 30px;
    text-align: right;
    padding-right: 10px;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    transition: width 1.5s ease-out;
}
ul{
    list-style:none;
}
li1{
    color:  rgb(255, 240, 211);
}
